html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: #f6f9fa;
    color: #455a64;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.alert {
    max-width: 500px;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #d8efdd;
}

.alert-success {
    background-color: #28a745;
}

.alert-danger {
    background-color: #dc3545;
}

.nw-header,
.nw-footer {
    background-color: #354251;
}

.nw-header {
    flex: 0 0 auto;
}

.nw-header_fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}

.nw-header__wrp {
    height: 60px;
    display: flex;
    align-items: center;
}

.nw-header__logo-link {
    margin: 0 30px 0 0;
    display: flex;
}

.nw-header__logo-img {
    display: block;
}

.nw-header-nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nw-header-nav-list__item {
    margin-right: 30px;
}

.nw-header-nav-list__link {
    color: #b6bbc1;
    text-decoration: none;
}

.nw-header-nav-list__link:hover {
    color: #fff;
}

.nw-header-right {
    display: flex;
    margin-left: auto;
}

.nw-header-right__profile-wrp {
    position: relative;
    margin: 0 20px 0 0;
}

.nw-header-right-navbar {
    display: none;
    position: absolute;
    margin: 0;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    list-style: none;
}

.nw-header-right__btn:hover ~ .nw-header-right-navbar,
.nw-header-right-navbar:hover {
    display: block;
}

.nw-header-right__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.far,
.fas {
    font-size: 20px;
    color: #b6bbc1;
}

.nw-header-right__btn:hover .fa-user-circle,
.nw-header-right__btn:hover .fa-search {
    color: #fff;
}

.nw-main {
    margin-top: 80px;
    flex: 1 0 auto;
}

.category-news__heading {
    font-size: 16px;
    font-weight: 600;
}

.category-news-list {
    margin: 0;
    padding: 0 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 83px;
         column-gap: 83px;
    row-gap: 30px;
    list-style: none;
}

.category-news-list__item {
    /*margin: 0 0 30px 0;*/
    width: 230px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 3px 20px #0000000b;
    box-sizing: border-box;
}

.category-news-list__img-link,
.category-news-list__text-link {
    display: flex;
    margin: 0 0 10px 0;
    text-decoration: none;
}

.category-news-list__text-link {
    color: #262626;
}

.category-news-list__text-link:hover {
    color: #18a4e1;
}

.category-news-list__item,
.category-news-list__img {
    border-radius: 10px;
}

.category-news-list-control {
    display: flex;
    justify-content: space-between;
}

.category-news-list-control__destroy {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.category-news-list-control__edit:hover .fa-edit {
    color: #18a4e1;
}

.category-news-list-control__destroy:hover .fa-trash {
    color: #ff6347;
}

.category-news-create {
    display: flex;
    justify-content: flex-end;
}

.category-news-create__link {
    border-radius: 4px;
    padding: 8px 12px;
    background-color: #18a4e1;
    color: #fff;
    text-decoration: none;
}

.article {
    max-width: 850px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.article__img {
    border-radius: 10px;
}

.nw-footer {
    flex: 0 0 auto;
    color: rgba(255, 255, 255, 0.5);
}

.nw-footer__wrp {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-popup {
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
}

.form-popup_small {
    width: 300px;
}

.form-popup_big {
    width: 500px;
}

.form-popup__header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.form-popup__body {
    padding: 15px;
}

.form-popup__body_border {
    border-bottom: 1px solid #e5e5e5;
}

.form-popup__action {
    display: flex;
    flex-direction: column;
}

.form-popup__control {
    margin: 0 0 15px 0;
    padding: 10px 12px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    box-shadow: none;
    color: #67757c;
}

.form-popup__checkbox {
    margin: 0 0 15px 0;
}

.form-popup__btn {
    padding: 10px 20px;
    background: #18a4e1;
    border: 1px solid #18a4e1;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.form-popup__links {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.form-popup__link {
    color: #18a4e1;
    text-decoration: none;
}

